<table class="table">

    <tr>
      <td>aa</td>
      <td>bb</tb>
    </tr>

    <tr>
      <td>aa</td>
      <td>bb</tb>
    </tr>

    <tr>
      <td>aa</td>
      <td>bb</tb>
    </tr>

</table>
